.danielspray{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px black;
    border-radius: 50%;
    margin: auto;
    padding: 60px;
    width: 120px; 
    height: 290px; 
    background-color: rgb(255, 255, 255);
}

.multiplicar2{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin: none;
}
